body{
    background: -webkit-linear-gradient(90deg, #dc0404,#d76609,#1b1d1b);
    background: linear-gradient(90deg, #dc0404,#d76609,#1b1d1b);
    margin: 0;
    padding: 15px;
    border-radius: 17px;
 
   
    

}


header{
    background-color:webkit-linear-gradient(90deg, #dc0404,#d76609,#1b1d1b);
    background: linear-gradient(90deg,#dc0404,#1b1d1b);
    padding: 15px;
    margin: 15px;
    border-radius: 17px;
   

}


main{
    background-color:webkit-linear-gradient(90deg, #dc0404,#d76609,#1b1d1b);
    background: linear-gradient(90deg,#dc0404,#1b1d1b);
    height:200px;
    padding: 15px;
    margin: 15px;
    border-radius: 17px;

}




